---
interface Props {
    colorFrom?: string
    colorTo?: string
    title?: string
    description?: string
}

const {
    colorFrom = '#d75528',
    colorTo = '#dfa142',
    title = 'AJERGA - Asociaci贸n de J贸venes Emigrantes Retornados de Galicia',
    description = 'AJERGA brinda orientaci贸n y asesoramiento a j贸venes emigrantes, contando con el respaldo de quienes han vivido esta experiencia en primera persona.',
} = Astro.props
---

<section class={`bg-gradient-to-br from-[${colorFrom}] to-[${colorTo}] py-20 text-white`}>
    <div class="container mx-auto px-4">
        <h1 class="text-5xl font-bold mb-6">{title}</h1>
        <p class="text-xl max-w-3xl">{description}</p>
    </div>
</section>
