● Demanda moderada: Aunque la Universidad de Vigo tiene presencia en Pontevedra, no es una ciudad con tanta oferta como
Santiago o A Coruña, lo que hace que los precios sean algo más bajos. ● Tipos de vivienda: Principalmente pisos
compartidos, con algunas residencias y apartamentos disponibles. ● Precios promedio: o Alquiler de una habitación en un
departamento compartido: 250-350 € al mes. o Residencias universitarias: Están entre 250-350 € por habitación. ● Zonas
recomendadas: El centro de la ciudad y el área cercana al campus de Pontente son las más buscadas.

<PortalesBuscarVivienda />
<ConsejosAdicionalesVivienda />

<section class="mb-12">
    <h2 class="text-3xl font-bold text-[#394d62] mb-6">Residencias Universitarias</h2>
    <div class="bg-orange-50 border-l-4 border-[#d75528] p-6 mb-6">
        <p class="text-gray-700">
            <strong> Ten en cuenta:</strong> La mensualidad de las residencias suelen tener un costo elevado. Por otra parte,
            este servicio suele ser contratado por jóvenes que actualmente se encuentran cursando una carrera de grado (19-23
            años).
        </p>
    </div>

    <div class="mb-8">
        <h3 class="text-2xl font-bold text-[#0c615d] mb-4">Pontevedra (sede UVigo)</h3>
        <ul class="space-y-2">
            <li>
                <a
                    href="https://www.afundacion.org/es/centros/centro/residencia_de_estudiantes_afundacion_de_pontevedra"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="flex items-center p-3 bg-gray-50 rounded-lg hover:bg-[#c6d067] hover:text-[#394d62] transition-colors">
                    <span class="mr-2"></span>
                    <span>Residencia Afundación</span>
                </a>
            </li>
        </ul>
    </div>
</section>
